// ===================
// 🌗 主题变量定义（仅使用项）
// ===================

beautify()
  headStyle(fontsize)
    &:before
      margin-left: unit((-(fontsize + 6)), 'px')
      font-size: unit(fontsize, 'px')

    &:hover
      &:before
        color: $light-blue
        
:root
  // ai_summary
  --liushen-title-font-color: #0883b7
  --liushen-maskbg: rgba(255, 255, 255, 0.85)
  --liushen-ai-bg: conic-gradient(from 1.5708rad at 50% 50%, #d6b300 0%, #42A2FF 54%, #d6b300 100%)

  // card 背景
  --liushen-card-secondbg: #f1f3f8

  // text
  --liushen-text: #4c4948
  --liushen-secondtext: #3c3c43cc

[data-theme='dark']
  // ai_summary
  --liushen-title-font-color: #0883b7
  --liushen-maskbg: rgba(0, 0, 0, 0.85)
  --liushen-ai-bg: conic-gradient(from 1.5708rad at 50% 50%, rgba(214, 178, 0, 0.46) 0%, rgba(66, 161, 255, 0.53) 54%, rgba(214, 178, 0, 0.49) 100%)

  // card 背景
  --liushen-card-secondbg: #3e3f41

  // text
  --liushen-text: #ffffffb3
  --liushen-secondtext: #a1a2b8

// ===================
// 📘 AI 摘要模块样式
// ===================

if hexo-config('ai_summary.enable')


  // 平滑滚动动画
  // @keyframes chat-float
  //   0% 
  //     opacity 0
  //     transform translateY(20px)
  //   100% 
  //       opacity 1
  //       transform translateY(0)
  
  // ✅ 打字机光标闪烁动画
  @keyframes blink-underline
    0%, 100%
      opacity 1
    50%
      opacity 0

  #ai-tag
      display: inline-flex
      align-items: center
      gap: 8px
      padding: 6px 14px
      background: linear-gradient(135deg, #ff9eb5, #ff6b9c)
      color: white
      border-radius: 24px
      font-weight: bold
      box-shadow: 0 4px 12px rgba(255, 158, 181, 0.3)
      transition: transform 0.3s
      position: relative
      z-index: 50
      
      &:hover
          transform: scale(1.05)
          box-shadow: 0 6px 16px rgba(255, 158, 181, 0.5)

  #qq-group-popup
      position: fixed
      display: none
      background: rgba(255, 255, 255, 0.95)
      backdrop-filter: blur(5px)
      border-radius: 12px
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15)
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding: 12px
      box-sizing: border-box
      opacity: 0
      transform: translateY(10px) scale(0.9)
      transition: all 0.3s ease
      z-index: 1000
      width: 5vw
      height: 7vh
      min-width: 120px
      min-height: 140px
      
      img
          width: 80%
          aspect-ratio: 1/1
          object-fit: contain
      
      .hint
          font-size: 12px
          color: #666
          text-align: center
          margin-top: 8px
          line-height: 1.4